body{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #262b2f;
}
.navbar{
  border-bottom: none;
  box-shadow: 0 1px 10px 0 lightgrey;
}
.logo{
  width: 20%;
}
.hero{
  margin-left: 10%;
  color: white;
}
.card{
  font-size: 12px;
  width: 400px;
  margin-left: 10px;
  position: relative;


}
.card-container{
  
  width: 50%;
  height: 400px;
  margin-left:25%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 15px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.card-image{
  height: 50%;
  border-radius: 9px;
}
.star{
  margin-top: 10%;
  width: 10%;
  height: 2%;
}
.rating{
  display: flex;
  flex-direction: row;
  color: white;
}
.comment{
  margin-top: 0;
  color: white;
}
.grid-container{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-columns: 4fr 3fr 3fr 4fr;
  grid-gap: 10px;
}
.grid-item{
  height: 200px;
  background: url('https://picsum.photos/id/237/200/300');
  background-size: cover;
  background-attachment: fixed;
  
}
.grid-item-1{
  background: url('https://picsum.photos/id/290/200/300');
  border-radius: 10%;
  background-size: 100% 100%;
}
.grid-item-3{
  background: url('https://picsum.photos/id/301/200/300');
  background-size: 100% 100%;
  border-radius: 10%;
}
.grid-item-4{
  background: url('https://picsum.photos/id/360/200/300');
  background-size: 100% 100%;
  border-radius: 10%;
}
.grid-item-5{
  background: url('https://picsum.photos/id/242/200/300');
  background-size: 100% 100%;
  border-radius: 10%;
}
